

{% extends 'User/index.html' %}
{% block content %}


 

 <style>


 </style>
 
<div id="main-wrapper">
       
 
    <div class="page-wrapper">
      
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Section2 Create</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sec2_create' %}">Section2 create</a></li>
                </ol>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="container-fluid">
         
 
          
                    <!-- {{ form.as_p }} -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-outline-info">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white">Section2 Create</h4>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="form-group row">
                                                <label for="id_title" class="control-label text-right col-md-3">Title:</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="title" id="id_title"
                                                    maxlength="200"  value="{{book.title}}" class="form-control">
                                                 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="id_description"  class="control-label text-right col-md-3">Description</label>
                                                <div class="col-md-9">
                                                <input name="description" required
                                                cols="40" id="id_description"  value="{{book.description}}" rows="5" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="id_section2_image" class="control-label text-right col-md-3">Section2 image</label>
                                                <div class="col-md-9">
                                                <input type="file" name="section2_image"  value="{{book.section2_image}}" accept="image/*" id="id_section2_image" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="id_section2background_image" class="control-label text-right col-md-3">Section2background  image</label>
                                                <div class="col-md-9">
                                                <input type="file" name="section2background_image"  value="{{book.section2background_image}}" accept="image/*" id="id_section2background_image" class="form-control">
                                                </div>
                                            </div>
                                      
                                            <div class="form-group row">
                                                <label for="id_happy_patients" class="control-label text-right col-md-3">Happy patients:</label>
                                                <div class="col-md-9">
                                                    <input type="number" name="happy_patients"
                                                    id="id_happy_patients" maxlength="15"  value="{{book.happy_patients}}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="id_surgeries" class="control-label text-right col-md-3">Surgeries:</label>
                                                <div class="col-md-9">
                                                    <input type="number" name="surgeries"
                                                    id="id_surgeries" maxlength="15"  value="{{book.surgeries}}" class="form-control">
                                                </div>
                                            </div>
                                          
                                            <div class="form-group row">
                                                <label for="id_doctors" class="control-label text-right col-md-3">Doctors:</label>
                                                <div class="col-md-9">
                                                    <input type="number" name="doctors"
                                                    id="id_doctors" maxlength="15"  value="{{book.doctors}}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="id_clinics" class="control-label text-right col-md-3">Clinics:</label>
                                                <div class="col-md-9">
                                                    <input type="number" name="clinics"
                                                    id="id_clinics" maxlength="15"  value="{{book.clinics}}" class="form-control">
                                                </div>
                                            </div>
                                           
                                            <div class="form-group row ">
                                                <label 
                                                    class="control-label text-right col-md-3">Status</label>
                                                <div class="col-sm-9">
                                                    <div class="m-b-10">
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" name="on" class="custom-control-input" {% if book.status %} checked {% else %} unchecked {% endif %}  >
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
        
        
                                                </div>
        
                                            </div>
        
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="offset-sm-3 col-md-9">
                                                            <!-- <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                                            <button type="button" class="btn btn-inverse">Cancel</button> -->
                                                             <input type="submit" class="btn btn-success" value="Submit" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <input type="submit" value="Submit" /> -->
            

        </div>

        
  
    </div>
 
</div>
</div>

    {% endblock %}


